[user]
[color]
	ui = true
[alias]
	glog = log --graph
	ci = commit -s
	co = checkout
	st = status
[credential]
	helper = cache
[push]
	default = simple
[core]
	quotepath = false
	logAllRefUpdates = true
	excludesfile = /home/acgtyrant/.gitignore
[user]
	name = acgtyrant
	email = acgtyrant@gmail.com
