Vim/.vim/.vim_backup/*
Vim/.vim/.vim_swap/*
Vim/.vim/.vim_undo/*
Vim/.vim/view/*
Vim/.vim/viminfo/*
Vim/.vim/.viminfo/*
Vim/.vim/bundle/*
i3/.config/i3/i3log
Ranger/*
Tmux/.config/tmux-powerline/*
X11/.config/gtk-3.0/settings.ini
Default Applications
Fcitx
Cow/.cow/*
