#Vim
Vim/.vim/

#Neovim
Neovim/.config/nvim

# i3
i3/.config/i3/i3log

# Ranger
Ranger

# Tmux
Tmux/.config/tmux-powerline

# X11
X11/.config/gtk-3.0/settings.ini
X11/.config/gtk-3.0/servers

# Default Applications
Default Applications

# Fcitx
Fcitx

# Cow
Cow/.cow

# HexChat
HexChat

# SSH
SSH/.ssh/id_rsa
SSH/.ssh/id_rsa.pub
SSH/.ssh/known_hosts
