Cow/.cow
Default Applications
Fcitx
HexChat
i3/.config/i3/i3log
Neovim/.config/nvim
Python/.ipython/profile_default
Ranger
SSH/.ssh/id_rsa
SSH/.ssh/id_rsa.pub
SSH/.ssh/known_hosts
Tmux/.config/tmux-powerline
Vim/.vim/
X11/.config/gtk-3.0/servers
X11/.config/gtk-3.0/settings.ini
Python/Projects
NeoVim/.config/nvim/plugged
