URxvt.preeditType: Root

! transparent
URxvt*transparent: true
URxvt*.shading: 30

URxvt.inputMethod:fcitx

! -*- { Xft settings
Xft*dpi:        96
Xft*antialias:  true
Xft*hinting:    true
! -*- }

!URxvt*font: xft: Dejavu Sans Mono:bold, xft:Droid Sans Mono for powerline:pixelsize=15, xft:WenQuanYi Micro Hei Mono:pixelsize=15
URxvt*font: xft: Source Code Pro, xft:Droid Sans Mono for powerline:pixelsize=15, xft: 方正兰亭黑_GBK

URxvt.scrollstyle:       rxvt
URxvt.scrollBar:         false
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true
URxvt.perl-ext-common:  defalut,matcher
URxvt.url-launcher:     /usr/bin/google-chrome -new-tab
URxvt.matcher.button:   1
URxvt.colorUL: #4682B4

URxvt.perl-ext:      default,url-select
URxvt.keysym.M-u:    perl:url-select:select_next
URxvt.url-select.launcher:  /usr/bin/google-chrome -new-tab
URxvt.url-select.underline: true

URxvt.cursorBlink:True
URxvt.saveLines:65535
URxvt.borderLess:False

Urxvt.inLocale: zh_CN.UTF-8

URxvt.pointerColorBackground : #586E75
URxvt.pointerColorForeground : #93A1A1

URxvt.background : #333333
URxvt.foreground : #CCCCCC

URxvt.colorBD : #FFFFFF
URxvt.colorUL : #CCCC66

! orange
*color6:    #ce5c00
*color14:   #fcaf3e

! black
*color0:    #000000
*color8:    #454545
! red
*color1:    #FF3333
*color9:    #F53D3D
! green
*color2:    #83ED12
*color10:   #9BE64A
! yellow
*color3:    #FF8D00
*color11:   #F49725
! blue
*color4:    #258CF4
*color12:   #66B2FF
! purple
*color5:    #8C1AFF
*color13:   #B26EF7
! aqua
*color6:    #33FFFF
*color14:   #8CF2F2
! white
*color7:    #D9D9D9
*color15:   #FFFFFF
